.side--bar--container {
    user-select: none;
    width: 5em;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 1em;
    background: hsl(0, 0%, 0%);
    border-radius: 10px;
    padding: 0.8em;
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:hover {
        width: 15em;

        .mobile--side--bar--header {
            opacity: 0;
        } 

        .side--bar--logo--container {
            opacity: 1;
        }


        .side--bar--ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            .side--bar--li {
                display: flex;
                // flex-direction: row;
                align-items: center;
                width: 100%;
                border-radius: 100vh;


                .side--bar--link {
                    text-decoration: none;
                    font-size: 1rem;
                    border-radius: 100vh;
                    transition: all 0.3s ease-in-out;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    cursor: pointer;
                    color: hsl(0, 0%, 44%);

                    .side--bar--text--container {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        width: 100%;

                        .side--bar--svg {
                            margin-right: 1.5em;
                        }

                        span {
                            opacity: 1;
                        }

                    }

                    .side--bar--content--notification {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        opacity: 1;
                        transition: all 2s ease-in-out;


                        .side--bar--content--notification--container {
                            padding: 0.3em;
                            background: hsl(205, 72%, 60%);
                            font-size: 0.8rem;
                            border-radius: 5px;
                            color: hsl(0, 0%, 100%);
                            margin-right: 0.4em;
                        }

                        .side--bar--content--notification--count {
                            background: hsl(161, 73%, 78%);
                            border-radius: 5px;
                            font-size: 0.9rem;
                            color: hsl(0, 0%, 0%);
                            padding: 0.3em 0.6em;
                            font-size: 0.8rem;
                            font-weight: 500;
                        }
                    }

                    .side--bar--dropdown--container {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        opacity: 1;
                        transition: all 0.6s ease-in-out;

                        .drop--down--btn {
                            align-items: center;
                            background: 0 0;
                            border: 0;
                            cursor: pointer;
                            display: flex;
                            justify-content: center;
                            padding: 0;
                            outline: none;
                            border-radius: 50%;
                        }
                    }
                }

                // &:hover {
                //     background: hsl(0, 0%, 94%);
                //     color: hsl(0, 0%, 0%);
                //     transition: all 0.9s ease-in-out;

                //     .side--bar--link {
                //         color: hsl(0, 0%, 0%);
                //     }
                // }

                .active {
                    color: hsl(0, 0%, 0%);
                    background: hsl(0, 0%, 94%);
                }
            }
        }

    }

    

    .mobile--side--bar--header {
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 1;
        transition: all 0.5s ease-in-out;
    }

    .side--bar--logo--container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 8em;
        border-radius: 20px;
        background: hsl(0, 14%, 13%);
        margin-bottom: 1em;
        padding: 0em 1em;
        opacity: 0;
        transition: all 0.5s ease-in-out;

        svg {
            width: 100%;
        }
    }


    .side--bar--ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        // justify-content: center;
        width: 100%;
        transition: all 0.5s ease-in-out;

        .side--bar--li {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            border-radius: 100vh;
            margin-bottom: 1.5em;
            transition: all 0.5s ease-in-out;
            width: 3em;
            
            

            .side--bar--link {
                text-decoration: none;
                font-size: 1rem;
                padding: 0em 0.8em;
                border-radius: 100vh;
                transition: all 0.3s ease-in-out;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                height: 3em;
                cursor: pointer;
                color: hsl(0, 0%, 44%);
                transition: all 0.5s ease-in-out;
                flex: 0 0 auto;
                white-space: nowrap;
                // background: hsl(0, 0%, 94%);

                .side--bar--text--container {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    width: 100%;
                    transition: all 0.5s ease-in-out;

                    .side--bar--svg {
                        margin-right: 1.5em;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                    }

                    span {
                        opacity: 0;
                        transition: all 0.5s ease-in-out;
                    }

                }

                .side--bar--content--notification {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    transition: all 0.4s ease-in-out;
                    opacity: 0;


                    .side--bar--content--notification--container {
                        padding: 0.3em;
                        background: hsl(205, 72%, 60%);
                        font-size: 0.8rem;
                        border-radius: 5px;
                        color: hsl(0, 0%, 100%);
                        margin-right: 0.4em;
                    }

                    .side--bar--content--notification--count {
                        background: hsl(161, 73%, 78%);
                        border-radius: 5px;
                        font-size: 0.9rem;
                        color: hsl(0, 0%, 0%);
                        padding: 0.3em 0.6em;
                        font-size: 0.8rem;
                        font-weight: 500;
                    }
                }

                .side--bar--dropdown--container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    transition: all 0.5s ease-in-out;
                    opacity: 0;

                    .drop--down--btn {
                        align-items: center;
                        background: 0 0;
                        border: 0;
                        cursor: pointer;
                        display: flex;
                        justify-content: center;
                        padding: 0;
                        outline: none;
                        border-radius: 50%;

                        svg {
                            transition: all 0.5s ease-in-out;
                        }
                    }
                }
            }

            

            &:hover {

                .side--bar--link {
                    color: hsl(0, 0%, 0%);
                    background: hsl(0, 0%, 94%);
                    color: hsl(0, 0%, 0%);
                    transition: all 1s ease-in-out;
                }
            }

            .active {
                color: hsl(0, 0%, 0%);
                background: hsl(0, 0%, 94%);

                .side--bar--text--container {
                    transition: all 0.5s ease-in-out;

                    .side--bar--svg {
                        svg {
                            
                            path {
                                fill: hsl(0, 0%, 0%);
                            }
                        }
                    }


                }
            }
        }
    }
}

.active {

    width: 15em;

    .mobile--side--bar--header {
        opacity: 0;
    }

    .side--bar--logo--container {
        opacity: 1;
    }


    .side--bar--ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .side--bar--li {
            display: flex;
            // flex-direction: row;
            align-items: center;
            width: 100%;
            border-radius: 100vh;


            .side--bar--link {
                text-decoration: none;
                font-size: 1rem;
                border-radius: 100vh;
                transition: all 0.3s ease-in-out;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                cursor: pointer;
                color: hsl(0, 0%, 44%);

                .side--bar--text--container {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    width: 100%;

                    .side--bar--svg {
                        margin-right: 1.5em;
                    }

                    span {
                        opacity: 1;
                    }

                }

                .side--bar--content--notification {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    opacity: 1;
                    transition: all 2s ease-in-out;


                    .side--bar--content--notification--container {
                        padding: 0.3em;
                        background: hsl(205, 72%, 60%);
                        font-size: 0.8rem;
                        border-radius: 5px;
                        color: hsl(0, 0%, 100%);
                        margin-right: 0.4em;
                    }

                    .side--bar--content--notification--count {
                        background: hsl(161, 73%, 78%);
                        border-radius: 5px;
                        font-size: 0.9rem;
                        color: hsl(0, 0%, 0%);
                        padding: 0.3em 0.6em;
                        font-size: 0.8rem;
                        font-weight: 500;
                    }
                }

                .side--bar--dropdown--container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    opacity: 1;
                    transition: all 0.6s ease-in-out;

                    .drop--down--btn {
                        align-items: center;
                        background: 0 0;
                        border: 0;
                        cursor: pointer;
                        display: flex;
                        justify-content: center;
                        padding: 0;
                        outline: none;
                        border-radius: 50%;
                    }
                }
            }

            // &:hover {
            //     background: hsl(0, 0%, 94%);
            //     color: hsl(0, 0%, 0%);
            //     transition: all 0.9s ease-in-out;

            //     .side--bar--link {
            //         color: hsl(0, 0%, 0%);
            //     }
            // }

            .active {
                color: hsl(0, 0%, 0%);
                background: hsl(0, 0%, 94%);
            }
        }
    }


}